---
layout: single
---

<h1 class="main__title first">Jesse Mu</h1>

<p>I am a 2nd-year CS PhD student at Stanford, advised by <a
  href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a>. I am
interested in <em>operationalizing</em> language for machine learning, building
multimodal systems that can learn from linguistic supervision and interactive
dialog. I am supported by the <a href="https://www.nsfgrfp.org/">NSF GRFP</a>.</p>
  
  
<p>Previously, I received an MPhil in Advanced Computer Science from the
  University of Cambridge, supervised by <a href="https://www.shutova.org">Ekaterina Shutova</a> and <a href="https://www.cl.cam.ac.uk/~hy260/">Helen Yannakoudakis</a> and supported by a <a href="https://churchillscholarship.org/">Churchill Scholarship</a>. Before that,
  I was an undergrad at Boston College, where I worked in the <a href="http://l3atbc.org/">Language Learning Lab</a> with <a
    href="http://l3atbc.org/JKHartshorne.About.html">Joshua Hartshorne</a> and
  <a href="http://people.linguistics.mcgill.ca/~timothy.odonnell/">Timothy
    O'Donnell</a>.</p>

<p>I've also worked with the <a href="http://cig.fi.upm.es/">Computational
    Intelligence Group</a> at the Technical University of Madrid, the MIT <a
    href="http://cocosci.mit.edu/">Computational Cognitive Science Group</a>,
and <a href="https://www.amazon.jobs/en/teams/alexa-ai">Alexa Machine Learning</a>.</p>

<p><strong>I am visiting MIT until April 2020!</strong></p>

<div class="mobile__author__profile">
{% include author-links.html %}
</div>

<h1>Publications</h1>

<p><strong>Shaping Visual Representations with Language for Few-shot Classification</strong><br>
  <strong>Jesse Mu</strong>, <a href="https://cs.stanford.edu/~pliang/">Percy Liang</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> <br>
  ViGIL@NeurIPS 2019
  <a class="paperlink" href="https://arxiv.org/abs/1911.02683">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>Learning Outside the Box: Discourse-level Features Improve Metaphor Identification</strong><br>
  <strong>Jesse Mu</strong>, <a href="https://www.cl.cam.ac.uk/~hy260/">Helen Yannakoudakis</a>, <a href="https://www.shutova.org/">Ekaterina Shutova</a> <br>
  NAACL 2019
  <a class="paperlink" href="https://arxiv.org/abs/1904.02246">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>Do We Need Natural Language?  Exploring Restricted Language Interfaces for Complex Domains</strong><br>
  <strong>Jesse Mu</strong>, <a href="https:advait.org/">Advait Sarkar</a> <br>
  CHI 2019 Late-Breaking Work
  <a class="paperlink" href="papers/nli_chi19.pdf">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>The Meta-Science of Adult Statistical Word Segmentation: Part 1</strong><br>
  <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, Lauren Skorb, Sven L. Dietz, Caitlin R. Garcia, Gina L. Iozzo, Katie E. Lamirato, <a href="http://jamesrledoux.com/">James R. Ledoux</a>, <strong>Jesse Mu</strong>, Kara N. Murdock, Jon Ravid, Alyssa A. Savery, James E. Spizzirro, Kelsey A. Trimm, Kendall D. van Horne, Juliani Vidal
  <br>
  <em>Collabra: Psychology</em> 5(1):1, 2019
  <a class="paperlink" href="https://www.collabra.org/articles/10.1525/collabra.181/">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>Evaluating Hierarchies of Verb Argument Structure with Hierarchical Clustering</strong><br>
  <strong>Jesse Mu</strong>, <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, <a href="http://people.linguistics.mcgill.ca/~timothy.odonnell/">Timothy O'Donnell</a> <br>
  EMNLP 2017
  <a class="paperlink" href="http://www.aclweb.org/anthology/D/D17/D17-1104.pdf">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>Parkinson's Disease Subtypes Identified from Cluster Analysis of Motor and Non-motor Symptoms</strong>
  <br>
        <strong>Jesse Mu</strong>,
        <a href="https://kclpure.kcl.ac.uk/portal/ray.chaudhuri.html">Kallol R. Chaudhuri</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/concha_bielza">Concha Bielza</a>,
        <a href="http://www.neurodegenerationresearch.eu/board-member/jesus-de-pedro-cuesta/">Jesus de Pedro-Cuesta</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/pedro-larranaga">Pedro Larra&ntilde;aga</a>,
        <a href="https://www.researchgate.net/profile/Pablo_Martinez-Martin2">Pablo Martinez-Martin</a><br>
      <em>Frontiers in Aging Neuroscience</em> 9:301, 2017
      <a class="paperlink" href="https://www.frontiersin.org/articles/10.3389/fnagi.2017.00301/full">
        <span class="far fa-file-pdf"></span>
      </a>
</p>
