---
layout: single
---

<h1 class="main__title">Jesse Mu</h1>

<p> I am a first-year CS PhD student at Stanford University, interested in
  natural language processing and machine learning. Right now I'm especially
  interested in pragmatics, dialogue, and grounding language in perception and
  action. I am funded by the <a href="https://www.nsfgrfp.org/">NSF GRFP</a>.</p>
  
<p>Previously, I received an MPhil in Advanced Computer Science from the
  University of Cambridge, supervised by <a
    href="https://www.cl.cam.ac.uk/~es407/">Ekaterina Shutova</a>. Before that,
  I was an undergrad at Boston College, where I worked in the <a href="http://l3atbc.org/">Language Learning Lab</a> with <a
    href="http://l3atbc.org/JKHartshorne.About.html">Joshua Hartshorne</a> and
  <a href="http://people.linguistics.mcgill.ca/~timothy.odonnell/">Timothy
    O'Donnell.</a></p>

<p>I've also spent time with the <a href="http://cig.fi.upm.es/">Computational
    Intelligence Group</a> at the Technical University of Madrid, the MIT <a
    href="http://cocosci.mit.edu/">Computational Cognitive Science Group</a>,
and <a href="https://www.amazon.jobs/en/teams/alexa-ai">Alexa AI</a> (formerly
Alexa Machine Learning).</p>

<div class="mobile__author__profile">
{% include author-links.html %}
</div>

<h1>Publications</h1>

<h2>Journal articles</h2>

<p><strong>The Meta-Science of Adult Statistical Word Segmentation: Part 1</strong><br>
  <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, Lauren Skorb, Sven L. Dietz, Caitlin R. Garcia, Gina L. Iozzo, Katie E. Lamirato, <a href="http://jamesrledoux.com/">James R. Ledoux</a>, <strong>Jesse Mu</strong>, Kara N. Murdock, Jon Ravid, Alyssa A. Savery, James E. Spizzirro, Kelsey A. Trimm, Kendall D. van Horne, Juliani Vidal
  <br>
  <em>Collabra: Psychology</em> 5(1):1, 2019
  <a class="paperlink" href="https://www.collabra.org/articles/10.1525/collabra.181/">
    <span class="far fa-file-pdf"></span>
  </a>
</p>

<p><strong>Parkinson's Disease Subtypes Identified from Cluster Analysis of Motor and Non-motor Symptoms</strong>
  <br>
        <strong>Jesse Mu</strong>,
        <a href="https://kclpure.kcl.ac.uk/portal/ray.chaudhuri.html">Kallol R. Chaudhuri</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/concha_bielza">Concha Bielza</a>,
        <a href="http://www.neurodegenerationresearch.eu/board-member/jesus-de-pedro-cuesta/">Jesus de Pedro-Cuesta</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/pedro-larranaga">Pedro Larra&ntilde;aga</a>,
        <a href="https://www.researchgate.net/profile/Pablo_Martinez-Martin2">Pablo Martinez-Martin</a><br>
      <em>Frontiers in Aging Neuroscience</em> 9:301, 2017
      <a class="paperlink" href="https://www.frontiersin.org/articles/10.3389/fnagi.2017.00301/full">
        <span class="far fa-file-pdf"></span>
      </a>
</p>

<h2>Conference papers</h2>

<p><strong>Evaluating hierarchies of verb argument structure with hierarchical clustering</strong><br>
  <strong>Jesse Mu</strong>, <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, <a href="http://people.linguistics.mcgill.ca/~timothy.odonnell/">Timothy O'Donnell</a> <br>
  <em>Empirical Methods in Natural Language Processing</em>, 2017
  <a class="paperlink" href="http://www.aclweb.org/anthology/D/D17/D17-1104.pdf">
    <span class="far fa-file-pdf"></span>
  </a>
</p>
